/target/
!.mvn/wrapper/maven-wrapper.jar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
/build/
/src/main/java/com/jarek/datascraper/dao/AppUserDAO.java
/src/main/java/com/jarek/datascraper/dao/VideogameDAO.java
src/main/java/com/jarek/datascraper/config/SecurityConfig2.java
src/main/java/com/jarek/datascraper/config/SecurityConfig3.java
src/main/java/com/jarek/datascraper/config/SecurityConfig4.java
src/main/java/com/jarek/datascraper/config/SecurityConfigAPIKey2.java
src/main/java/com/jarek/datascraper/config/WebMvcConfiguration.java
src/main/java/com/jarek/datascraper/security/APIAuthenticationToken.java
src/main/java/com/jarek/datascraper/security/APIKeyAuthenticationProvider.java
src/main/java/com/jarek/datascraper/security/CustomAppUser.java
src/main/java/com/jarek/datascraper/security/CustomAppUserDetailsService.java
src/main/java/com/jarek/datascraper/security/CustomAuthenticationFilter.java
src/main/java/com/jarek/datascraper/security/CustomAuthenticationToken.java
src/main/java/com/jarek/datascraper/security/CustomUserDetailsAuthenticationProvider.java
src/main/resources/static/
src/main/resources/templates/error.html
src/main/resources/templates/plain-login.jsp
src/main/resources/templates/success.html
src/test/java/com/jarek/datascraper/controller/
/src/main/java/com/jarek/datascraper/config/SecurityConfig.java
/src/main/java/com/jarek/datascraper/controller/LoginController.java
src/test/java/com/jarek/datascraper/TestApp.java
src/test/java/com/jarek/datascraper/parser/DocumentCreatorTest.java
src/test/java/com/jarek/datascraper/parser/DocumentCreatorTest.properties
src/test/java/com/jarek/datascraper/parser/TestProperties.java
src/test/java/com/jarek/datascraper/security/
src/test/resources/
!/src/main/java/com/jarek/datascraper/exception/ExceptionController.java
!/src/main/java/com/jarek/datascraper/security/APIKeyAuthenticationFilter.java
src/main/java/com/jarek/datascraper/exception/RestExceptionHandler.java
